<div class="" *ngIf="movie!=null">
    <div class="m-3 border-1 surface-border">
      <div class="">
        <div class="flex align-items-center">
          <i class="pi pi-tag mr-2"></i>
          <span class="font-semibold genre-edit">{{ movie.genre }} <i class="pi pi-pencil"
              [routerLink]="['./edit/', movie.id]"></i>
          </span>
        </div>
      </div>
      <div class="flex flex-column align-items-center text-center mb-3">
        <img [src]="movie.poster" [alt]="movie.plot" width="200" class="shadow-2 my-3 mx-0"
          [routerLink]="['./', movie.id]" />
        <div class="text-2xl font-bold">{{ movie.title }}</div>
        <div class="mb-3">{{ movie.year }} - {{ index }}</div>
        <p-rating [(ngModel)]="movie.imdbRating" [stars]="10" [readonly]="true" [cancel]="false"></p-rating>
      </div>
      <div class="flex align-items-center justify-content-between">
        <span class="text-2xl"></span>
      </div>
    </div>
  </div>
  <div class="" *ngIf="movie==null">
    <div class="m-3 border-1 surface-border">
      <div class="">
        <div class="flex align-items-center">
          <i class="pi pi-tag mr-2"></i>
          <span class="font-semibold genre-edit">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </span>
        </div>
      </div>
      <div class="flex flex-column align-items-center text-center mb-3">
        <p-skeleton width="10rem" height="4rem"></p-skeleton>
        <div class="text-2xl font-bold">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton></div>
        <div class="mb-3">
          <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></div>
<p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="flex align-items-center justify-content-between">
        <span class="text-2xl"></span>
      </div>
    </div>
  </div>